# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

data/datasets/
data/processed/
outputs/
logs/

# IDE
.vscode/
.DS_Store
# Local data and PDFs
Abstract.pdf
Poster.pdf
data/Wind Farm A/
data/Wind Farm B/
data/Wind Farm C/
